server:
  port: 8064
  servlet:
    context-path: /closedcart/api

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

spring:
  application:
    name: ciaas-server
  boot:
    admin:
      client:
        url: http://localhost:8082
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/MotoCartEnterprise
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  properties:
    hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect
      format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

logging:
  level:
    root: INFO